{% extends "::base.html.twig" %}

{% block title %}MethinkHtmlBundle:Event:index{% endblock %}

{% block body %}

	<a href="{{ path('methink_html_event_create') }}">创建活动</a>

	<ul>
	{% for data in datas %}
		<li>
			<h2>{{ data.title }}</h2>
			<h5><em>{{ data.startAt.format('H:i:s') }}</em> - <em>{{ data.endAt.format('H:i:s') }}</em></h5>
			<p>{{ data.content }}</p>
			<p>Creator: {{ data.user.username }}</p>
		</li>
	{% endfor %}
	</ul>

{% endblock %}
